<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Leitor de Código de Barras</title>
</head>
<body>
    <div class="container">
        <h1>Leitor de Código de Barras</h1>
        <form id="scan-form" action="{{ url_for('manual_entry') }}" method="post">
            <input type="text" id="barcode-input" name="barcode" placeholder="Digite ou escaneie o código de barras">
            <button type="submit">Submeter</button>
        </form>
        <br>
        <a href="{{ url_for('listar_livros') }}">Ver Livros Cadastrados</a>
    </div>
</body>
</html>
