<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Leitor de Código de Barras</title>
</head>
<body>
    <div class="container">
        <h1>Leitor de Código de Barras</h1>
        <form id="scan-form" action="{{ url_for('manual_entry') }}" method="post">
            <input type="text" id="barcode-input" name="barcode" placeholder="Digite ou escaneie o código de barras">
            <button type="submit" id="submitButton" >Buscar <img src="{{ url_for('static', filename='src/procurar.png') }}" alt="Search Icon"></button>
        
            <script>
                document.getElementById('scan-form').addEventListener('submit', function() {
                    document.getElementById('submitButton').disabled = true;
                });
            </script>
            
            
        
        </form>
        <a href="{{ url_for('listar_livros') }}">Ver Lista de Livros</a>
        <img src="/static/src/b6.jpg" alt="banner">
        

    </div>
</body>
</html>