<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/livros.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Lista de Livros</title>
</head>
<body>
    <div class="container">
        <h1>Lista de Livros</h1>
        <form method="get" action="{{ url_for('listar_livros') }}">
            <input type="text" name="search" placeholder="Buscar por título ou autor" value="{{ search_query }}">
            <input type="text" name="author" placeholder="Filtrar por autor" value="{{ filter_by_author }}">
            <input type="text" name="category" placeholder="Filtrar por categoria" value="{{ filter_by_category }}">
            <button type="submit"><img src="../static/search-icon.png" alt="Search Icon"></button>
        </form>
        {% if livros %}
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Editora</th>
                        <th>Data de Publicação</th>
                        <th>ISBN-13</th>
                        <th>ISBN-10</th>
                        <th>Categorias</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for livro in livros %}
                        <tr>
                            <td>{{ livro.id }}</td>
                            <td>{{ livro.titulo }}</td>
                            <td>{{ livro.autor }}</td>
                            <td>{{ livro.editora }}</td>
                            <td>{{ livro.data_publicacao }}</td>
                            <td>{{ livro.isbn_13 }}</td>
                            <td>{{ livro.isbn_10 }}</td>
                            <td>{{ livro.categorias }}</td>
                            <td>
                                <a href="{{ url_for('edit_book', book_id=livro.id) }}"><img src="../static/edit-icon.png" alt="Edit Icon"></a>
                                <form action="{{ url_for('delete_book', book_id=livro.id) }}" method="post" style="display:inline;">
                                    <button type="submit" onclick="return confirm('Tem certeza que deseja deletar este livro?');"><img src="../static/delete-icon.png" alt="Delete Icon"></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Paginação -->
            <div class="pagination">
                {% if page > 1 %}
                    <a href="{{ url_for('listar_livros', page=page-1, search=search_query, author=filter_by_author, category=filter_by_category) }}">&laquo; Anterior</a>
                {% endif %}

                {% for p in range(1, total_pages + 1) %}
                    <a href="{{ url_for('listar_livros', page=p, search=search_query, author=filter_by_author, category=filter_by_category) }}" class="{% if p == page %}active{% endif %}">{{ p }}</a>
                {% endfor %}

                {% if page < total_pages %}
                    <a href="{{ url_for('listar_livros', page=page+1, search=search_query, author=filter_by_author, category=filter_by_category) }}">Próximo &raquo;</a>
                {% endif %}
            </div>
        {% else %}
            <p>Nenhum livro encontrado.</p>
        {% endif %}
        <div style="text-align: center; margin-top: 5px;">
            <a href="{{ url_for('index') }}">Voltar</a>
        </div>
    </div>
</body>
</html>
